PORT=3000
GEMINI_KEY=AIzaSyAL_2U_f2nCczdaZLLXblR0j43MbMp1dT0
SITE_URLS=https://sites.google.com/view/cb-dulich/trang-chủ;https://sites.google.com/view/cb-dulich/du-lịch;https://sites.google.com/view/cb-dulich/tour;https://sites.google.com/view/cb-dulich/khách-sạn;https://sites.google.com/view/cb-dulich/voucher;https://sites.google.com/view/cb-dulich/travel-tips
SCRAPE_INTERVAL_MS=300000
